<br>
<div class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form" name="addForm">
			<div class="form-group">
				<label>
					Source
					<input type="text" class="form-control" ng-model="mapping.source" placeholder="Ex: 12312312312" required>
				</label>
			</div>
			<div class="form-group">
				<label>
					Target
					<input type="url" class="form-control" ng-model="mapping.target" placeholder="Ex: http://www.aliexpress.com/blahblahblah" required>
				</label>
			</div>
			<div class="button-group">
				<button type="button" class="btn btn-primary" ng-disabled="addForm.$invalid" ng-click="add()">Save</button>
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>	
</div>