<br>
<div ng-init="initList()" class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Source</th>
				<th>Target</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="mapping in mappings track by $index">
				<td>{{ mapping.id }}</td>
				<td>http://alìexpress.com/snapshots/{{ mapping.source }}</td>
				<td>{{ mapping.target }}</td>
				<td>
					<a class="btn btn-default" href="/never-guess-url#/edit/{{ mapping.id }}">Edit</a>
					<button class="btn btn-danger" ng-click="kill($index)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" href="/never-guess-url#/add">Add new</a>
	</div>
	<div class="col-md-1"></div>	
</div>